html {
    scroll-behavior: smooth;
}


:root {
    --bg-color: black;
    --text-color: aliceblue;
    --accent-color: rgb(191, 0, 255);
}

/* quando o modo claro estiver ativo */
body.light #theme-btn {
    --bg-color: aliceblue; /* modo claro */
    --text-color: #111;
}

/* botão */
#theme-btn {
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid rgb(191, 0, 255);
    background: transparent;
    color: aliceblue;
    cursor: pointer;
}


body.light #theme-btn {
    color: black;
}

body {
    font-family: 'Elms Sans', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
.navbar {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between; /* nome à esquerda | menu à direita */
    align-items: center;            /* alinha tudo verticalmente */
    padding: 20px 40px;
}

.logo{
    font-size: 26px;
    font-weight: bold;
    color: var(--text-color);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links li a:hover { 
    padding: 10px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 50px;
}

.nav-links .main-button{
    padding: 10px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 50px;
    background-color: rgb(191, 0, 255);
}

.my_name h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 3rem;
    color: aliceblue;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid aliceblue;
}

.my-name {
    display: flex;
    gap: 15px;
    color: aliceblue;
    font-size: 45px;
    font-weight: 700;
}

.first-name {
    color: aliceblue;
}

.first-name:hover {
    color: rgb(191, 0, 255);
    
    transition: 0.3s;
}

.last-name {
    color: rgb(191, 0, 255);
}




.my_name:hover h1 {
    color: rgb(191, 0, 255);
    transition: 0.3s;
    font-family: 'Great Vibes';
}

li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 0 0 10px purple;
    transition: 0.3s;
}


#personal_info {
    position: relative;
    display: flex;
    color: var(--text-color);
    align-items: center;
    font-size: 1.05rem;
    height: 100vh;
    padding: 0 10%;
    justify-content: space-between;
}


.text {
    max-width: 600px;
}

.text h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(191, 0, 255);
}

@keyframes idk {
    100% {
        width: 0;
    }

}

.my-picture img {
    margin-left: 80px;
    height: 400px;
    width: 400px;
    text-align: right;
    justify-content: center;
    border: 2px solid aliceblue;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    animation: upndown 5s ease-in-out infinite;
    box-shadow: 0px 0px 20px 0px rgb(207, 62, 255);
    transition: .5s;
}

.my-picture img:hover {
    margin-left: 80px;
    height: 400px;
    width: 400px;
    text-align: right;
    justify-content: center;
    border: 2px solid aliceblue;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    animation: upndown 5s ease-in-out infinite;
    box-shadow: 0px 0px 40px 0px rgb(207, 62, 255);
}

@keyframes upndown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.personal_background {
    color: aliceblue;
    font-size: 2rem;
}

.bio {
    max-width: 70%;
}

.social-links {
    position: absolute;
    bottom: 40px;
    left: 10%;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social-links a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(191, 0, 255);
    text-decoration: none;   
    overflow: hidden;
    transition: .5;
}

.social-links a:hover {
    color: var(--text-color);
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(191, 0, 255);
    z-index: -1;
    transition: .5s;
}

.social-links a:hover::before {
    width: 100%;
}

.bar {
    width: 400px;
    height: 12px;
    background: rgba(255, 255, 255, 0.3); /* Barra externa */
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

#my-skills {
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    height: 100vh;
    padding: 0 10%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* mantém alinhado à esquerda */
    gap: 20px; /* espaço entre título e ícones */
}

.my-skills h1 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
}

.my-skills span {
    font-weight: 500;
}

.esp {
    width: 100%;
    padding: 20px;
}

.esp h1 {
    margin: 0;
    color: aliceblue;
}

#personnal_info h2 {
    color: aliceblue;
}

#personal_info h2:hover {
    color: rgb(191, 0, 255);
    transition: 0.3s;
}

.icons {
    display: flex;
    width: 100%;
    justify-content: space-between; /* esquerda | centro | direita */
    align-items: center;
    padding: 0 20px;
    margin: 10% 0;


}

.icons ion-icon {
    font-size: 6rem;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    padding: 0;
}

.contain-skills {
    width: 300px;
    height: 400px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contain-skills:hover {
    background-color: rgb(191, 0, 255);
    transition: 0.3s;
}

.contain-skills p {
    font-size: 3rem;
    font-weight: 900;
}

.icons ion-icon:hover {
    transition: 0.5s;
    font-size: 8rem;
}

.contain-skills .textt {
    text-align: center;
    justify-content: center;
}

.contain-skills .textt:hover {
    color: rgb(191, 0, 255);
    transition: 0.5s;
}

.fill {
    height: 100%;
    width: 0%;
    background: rgb(191, 0, 255);
    border-radius: 10px;
    animation: fillAnimation 2.5s ease forwards;
}

/* Animação */
@keyframes fillAnimation {
    0% { width: 0%; }
    100% { width: var(--end); }
}

.project {
    height: 100vh;
    padding-bottom: 200px;
    color: var(--text-color);
    align-items: center;
    font-size: 1.05rem;
    height: 100vh;
    padding: 0 10%;
    justify-content: space-between;
}

/* Estilo geral dos projetos */
.P-project {
    width: 900px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;
    padding: 15px;
    background: transparent;
    color: var(--text-color);

    flex-direction: column;
    gap: 15px;

    /* Para garantir que tudo fica bem dentro */
    overflow: hidden;
    transition: .5s;
}

.R-project {
    width: 900px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;
    padding: 15px;
    background: transparent;
    color: var(--text-color);

    flex-direction: column;
    gap: 15px;

    /* Para garantir que tudo fica bem dentro */
    overflow: hidden;
    transition: .5s;
}

.C-project {
    width: 900px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;
    padding: 15px;
    background: transparent;
    color: var(--text-color);

    flex-direction: column;
    gap: 15px;

    /* Para garantir que tudo fica bem dentro */
    overflow: hidden;
    transition: .5s;
}

.BI-Project {
    width: 900px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;
    padding: 15px;
    background: transparent;
    color: var(--text-color);

    flex-direction: column;
    gap: 15px;

    /* Para garantir que tudo fica bem dentro */
    overflow: hidden;
    transition: .5s;
} 

.all-project {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}


/* Imagem dentro do card */
.P-project img,
.R-project img,
.BI-Project img,
.C-project img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid rgb(191, 0, 255);
}

/* Texto do projeto */
.P-project p,
.R-project p,
.BI-Project p,
.C-project p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.P-project:hover, 
.R-project:hover,
.BI-Project:hover,
.C-project:hover {
    width: 900px;
    border: 2px solid rgb(191, 0, 255);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 10px 15px 2px rgb(207, 62, 255);
    backdrop-filter: blur(3px);
    color: var(--text-color);
    gap: 15px;

    /* Para garantir que tudo fica bem dentro */
    overflow: hidden;
}

.button-link {
    border: 1px solid rgb(191, 0, 255);
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
    background: rgb(191, 0, 255);
}

.R-project a,
.P-project a,
.BI-Project a,
.C-project a {
    text-decoration: none;
    color: var(--text-color);
}


.all-project {
    display: flex;
    gap: 20px;
}

#contactos {
    width: 100%;
    padding: 100px;
    text-align: center;
    justify-content: center;
    
}

.fp {
    color: var(--text-color);
    margin: 5%;
}

.fp a {
    color: var(--text-color);
}

.contacts {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.nb, .mail {
    color: var(--text-color);
    margin: 5px;   
}

.nb a, .mail a {
    color: var(--text-color);
    width: 50px;        
    height: 50px;       
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.nb a:hover, .mail a:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: 0.2s;
    transition: background 0.2s;
}

.orroh {
  padding: 30px 0;
}

.contacts div {
    text-align: center;
    justify-content: center;
    margin-top: 70%;
    box-shadow: 40px rgb(191, 0, 255);
}